@tailwind base;
@tailwind components;
@tailwind utilities;


.glass-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;
    padding: 20px;
    transition: 0.3s ease;
  }
  
  .glass-card:hover {
    background: rgba(255,255,255,0.08);
  }
  